body{
  position: relative;
}

.myDiv{
  border-width:2px;
border-style:solid;
border-color:black;
}

.dot {
    height: 60px;
    width: 60px;
    /* background-color: aqua; */
    border-radius: 50%;
    display: inline-block;
  }

  span{
    margin-top: 40px;
    /* margin-bottom: 5px; */
    margin-left: 40px;

  }

  h1{
    text-align: center;
  }

  .x1{
    background-color: yellow;
    border-width:2px;
    border-style:solid;
    border-color:black;
  }

  .x2{
    background-color: blue;
    border-width:2px;
    border-style:solid;
    border-color:black;
  }
  .x3{
    background-color: red;
    border-width:2px;
    border-style:solid;
    border-color:black;
  }
  .x4{
    background-color: rgb(0, 255, 17);
    border-width:2px;
    border-style:solid;
    border-color:black;
  }

  input.right {
    float: right;
   margin-right: 300px;
  }

  .img{
    height: 60px;
    width: 60px;
  }
  
  img.right {
    position: absolute;
    right: 150px;
    margin-bottom: 20px;
    
  } 

  .btn{
    margin-top: 20px;
    margin-bottom: 20px;
  }



  @keyframes stop-right {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-5px);
    }
  }
  @keyframes stop-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(5px);
    }
  }
  @keyframes stop-top {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(5px);
    }
  }
  @keyframes stop-bottom {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-5px);
    }
  }
  